body {
  background: #151539;
  background: -webkit-gradient(linear, left top, right top, from(#151539), color-stop(50%, #211f51), to(#151539));
  background: linear-gradient(90deg, #151539 0%, #211f51 50%, #151539 100%);
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding-left: 0;
}

button.pill-btn {
  border: solid 2px #668DD5;
  border-radius: 50px;
  color: #CBCDD5;
  font-size: .8rem;
  padding: 8px 25px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

button.pill-btn:hover, button.btn-rounded-corner:hover {
  background-color: #fff;
  border: solid 2px #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

button.btn-rounded-corner {
  border: solid 2px #668DD5;
  border-radius: 10px;
  color: #CBCDD5;
  font-size: .8rem;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.readmoreLink {
  font-size: .7rem;
  font-weight: bold;
  color: #2C2C2C;
}

.readmoreLink:hover {
  text-decoration: none;
}

.readmoreLink::after {
  content: "\e628";
  font-family: themify;
  font-variant: normal;
  text-transform: none;
  top: 1.5px;
  margin-left: 5px;
  position: relative;
  color: #5D92E0;
}

.readmoreLink:hover::after {
  text-decoration: none;
  -webkit-animation-name: slideRightStickLeft;
          animation-name: slideRightStickLeft;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slideRightStickLeft {
  0% {
    margin-left: 5px;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  50% {
    margin-left: 10px;
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  100% {
    margin-left: 5px;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
}

@keyframes slideRightStickLeft {
  0% {
    margin-left: 5px;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  50% {
    margin-left: 10px;
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  100% {
    margin-left: 5px;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
}

header {
  top: 0;
  background: #151539;
  background: -webkit-gradient(linear, left top, right top, from(#151539), color-stop(50%, #211f51), to(#151539));
  background: linear-gradient(90deg, #151539 0%, #211f51 50%, #151539 100%);
  z-index: 99;
}

header .topmenu-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Styling the menu button */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 20px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* Adding tranform to the X */
.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -3px);
          transform: rotate(-45deg) translate(4px, -3px);
}

/* Styling the position of the menu icon */
.menu {
  position: absolute;
  top: 60px;
  width: 100%;
  display: none;
  height: 100vh;
  background: #151539;
  background: -webkit-gradient(linear, left top, right top, from(#151539), color-stop(50%, #211f51), to(#151539));
  background: linear-gradient(90deg, #151539 0%, #211f51 50%, #151539 100%);
  padding-top: 50px;
}

.menu.show {
  display: block;
}

.menu .nav-link {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding-left: 0;
}

.menu .nav-link-submenu {
  padding-left: 0;
  color: #fff;
}

.menu .nav-link:hover, .menu .nav-link-submenu:hover {
  color: #668DD5;
}

.menu .menu-right-section {
  font-weight: 600;
  color: #668DD5;
  margin-bottom: 0;
}

.menu .menu-right-section div {
  bottom: 0;
  position: absolute;
}

.menu .menu-right-section div p {
  padding-bottom: 15px;
}

.menu .menu-right-section div span {
  font-weight: normal;
  color: #E5E5EB;
}

/* Adding a transition delay to the 
   4 items in the navigation menu */
.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

main {
  margin-top: 83px;
}

.section-1 {
  padding-bottom: 75px;
}

.section-1 h1 {
  color: #FFFFFA;
  font-weight: bold;
}

.section-1 span {
  color: #668DD5;
}

.section-1 p {
  color: #CBCDD5;
  padding-right: 30px;
}

.section-1 .firstTopic {
  padding-top: 100px;
}

.section-1 .carousel-inner {
  width: 400px;
  height: 400px;
}

.section-1 .carousel-indicators {
  position: relative;
}

.section-1 .carousel-indicators li {
  height: 30px;
  text-indent: unset;
  margin-left: 25px;
  margin-right: 25px;
}

.section-1 .carousel-indicators li::after {
  content: '';
  width: 7px;
  height: 3px;
  background-color: #698EDC;
  position: absolute;
  margin-left: 22px;
  top: 25px;
}

.section-1 .carousel-indicators li:last-child:after {
  content: '';
  display: none;
}

.section-1 .carousel-indicators img {
  height: 30px;
  width: 30px;
}

.section-2 .smallTopTxt-sec-2 {
  letter-spacing: 2px;
}

.section-2 .smallTopTxt-sec-2::after {
  content: '|';
  height: 15px;
  width: 2px;
  border-top: 5px solid #5D92E0;
  background-color: #3C4683;
  color: #3C4683;
  position: relative;
  top: 30px;
  right: 47px;
}

.section-2 .videoThumb .video-icon {
  top: 45%;
  left: 45%;
  cursor: pointer;
}

.section-2 .card {
  border-radius: 0;
  z-index: 98;
  right: 0;
  top: 50%;
  margin-top: -180px;
  position: absolute;
}

.section-2 h3 {
  color: #010101;
  font-weight: bold;
}

.section-2 p {
  color: #2C2C2C;
}

.section-3 {
  margin-top: 250px;
}

.section-3 .section-3-text {
  padding-left: 150px;
  padding-right: 50px;
}

.section-3 .readmoreLink {
  color: #ffffff;
}

.section-3 h4 {
  font-size: 1.2rem;
}

.section-3 .carousel-control-prev {
  left: 0;
}

.section-3 .carousel-control-next {
  left: 45px;
}

.section-3 .carousel-control-prev, .section-3 .carousel-control-next {
  width: 35px;
  height: 35px;
  display: block;
  opacity: 1;
  border: solid 2px #668DD5;
  border-radius: 10px;
  color: #CBCDD5;
  font-size: .8rem;
  padding: 6px 5px 0px 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.section-3 .carousel-control-prev:hover, .section-3 .carousel-control-next:hover {
  background-color: #fff;
  color: #323232;
  border: solid 2px #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.section-3 .long-image .card-body {
  bottom: -130px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.section-3 .long-image:hover .card-body {
  bottom: 100px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.section-3 .long-image .card-body p {
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.section-3 .long-image:hover .card-body p {
  opacity: 1;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.section-3 .directional_navigation {
  bottom: 60px;
}

.section-4 {
  padding-top: 150px;
  padding-bottom: 100px;
}

.section-4 .section-4-title {
  text-align: right;
}

.section-4 p {
  padding-right: 350px;
}

.section-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-7 .theme-blue {
  background: #678DD6;
}

.section-7 .white-pill {
  border-color: #fff;
  color: #fff;
}

.section-7 .white-pill:hover {
  color: #212529;
}

.section-7 h3 {
  text-align: right;
}

/* slick logo slider*/
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide .slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

footer {
  background: #070713;
  font-size: .8rem;
}

footer .copyright-txt {
  color: #CBCDD5;
}

footer .copyright-txt img {
  margin-bottom: 20px;
}

footer h5 {
  font-size: .9rem;
}

footer li {
  margin-bottom: 5px;
}

footer .social-icons li {
  padding-right: 5px;
}

footer .social-icons li a {
  padding-right: 5px;
  font-size: 1.3rem;
}

footer .social-icons li a, footer li a {
  color: #fff;
}

footer .social-icons li a:hover, footer li a:hover {
  color: #678DD6;
}

/*####################################################*/
/* Media Quries */
/*####################################################*/
@media (min-width: 992px) {
  .container {
    max-width: 1326px;
  }
}

/* //////////////////////////////////////////////////////// */
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .menu {
    overflow-y: auto;
  }
  .menu .menu-right-section div {
    bottom: 0;
    position: relative;
  }
  .section-1 .container {
    padding-right: 0;
  }
  .section-1 .rotateIn.go {
    padding-right: 0;
  }
  .section-1 .firstTopic {
    padding-top: 50px;
  }
  .section-2 .container {
    padding-right: 0;
  }
  .section-2 .card-clone {
    border-radius: 0;
    z-index: 98;
    right: 0;
    top: 0;
    margin-top: 0px;
    position: relative;
    background: #fff;
  }
  .section-2 .videoThumb {
    padding-left: 0;
    padding-right: 0;
  }
  .section-2 .videoThumb .video-icon {
    top: 35%;
    left: 42%;
  }
  .section-3 {
    margin-top: 100px;
  }
  .section-3 .section-3-text {
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 100px;
  }
  .section-4 {
    padding-top: 50px;
  }
  .section-4 .section-4-title {
    text-align: left;
    padding-left: 2.2rem !important;
    padding-bottom: 0 !important;
  }
  .section-4 p {
    padding-right: 0;
  }
  .section-4 .section-4-txt {
    padding-top: 0 !important;
  }
  .section-4 .section-4-txt p {
    padding-bottom: 2rem !important;
  }
  .section-7 {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .section-7 h3 {
    text-align: left;
    padding-left: 2.2rem;
  }
}

.section-6 .uk-card {
  border-radius: 10px !important;
}

.section-6 li {
  opacity: .2;
}

.section-6 li div.uk-card-body {
  border-radius: 10px;
}

.section-6 li.uk-active {
  opacity: 1;
}

.section-6 li.uk-active div.uk-card-body {
  border-radius: 10px;
}

.section-6 .uk-dotnav > .uk-active > * {
  background-color: white;
  border-color: transparent;
}

.section-6 .uk-dotnav > * > * {
  background-color: #ffffff;
  border-color: transparent;
}

.section-6 .clientName {
  background-color: #678dd6;
  bottom: -10px;
  right: 20px;
}

.section-6 .instituteName {
  background-color: #040411;
  bottom: -40px;
  right: 30px;
}

.section-6 .clientName, .section-6 .instituteName {
  position: absolute;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.section-6 * + .uk-margin {
  margin-top: 70px !important;
}

@media (min-width: 1200px) {
  .uk-grid > * {
    padding-left: 105px !important;
    padding-right: 105px !important;
  }
}
/*# sourceMappingURL=style.css.map */